body {
    background-color: #EEEEEE;
}
paragDescrip,
header,
nav,
main,
footer {
    padding: 1em 0;
}

header {
    background-color: #3B0B17;
    text-align: center;
    border-radius: 5em;
}

#divCentral {
    display: flex;
	justify-content: space-between;
	align-items: stretch;
    margin: 10;
	box-sizing: border-box;
	 background-image: url("img/musical-note.png");
	
}

nav {
	flex : 15;
    background-color: #cfcbd5
 ;
    padding-left: 1em;
    padding-right: 1em;
	margin-left: 2em;
    line-height: 3em;
    font-size: 1em;
}

nav a {
    color: #0000FF;
    text-decoration: underline;
}

nav a:visited {
    color: #0000FF;
    text-decoration: none;
    ;
}

main {
	flex : 100;
    
    padding-left: 6em;
    height: 100%;
    background-image: url("img/musical-note.png");
    
}

footer {
	display: flex;
	justify-content: space-around;
    background-color: #707070;
    border-radius: 10em;
}

paragDescrip {
	color: yellow;
}

